<h1 mat-dialog-title> modifier flux</h1>
<div mat-dialog-content>
    <form [formGroup]="fluxForm ">
      <mat-form-field appearance="outline">
        <mat-label>Titre</mat-label>
        <textarea formControlName="title"  matInput  placeholder = "title" > </ textarea >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Decription</mat-label>
        <textarea formControlName="description"  matInput  placeholder = "description" > </ textarea >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Media</mat-label>
        <textarea formControlName="media"  matInput  placeholder = "media" > </ textarea >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>pubDate</mat-label>
        <textarea formControlName="pubDate"  matInput  placeholder = "pubDate" > </ textarea >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>guid</mat-label>
        <textarea formControlName="guid"  matInput  placeholder = "guid" > </ textarea >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>link</mat-label>
        <textarea formControlName="link"  matInput  placeholder = "link" > </ textarea >
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close=""> Fermer</button>
<button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addFlux()"> {{actionBtn}}</button>
</div>